@import 'fonts.css';
/* BASICS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

/* HEADER */
.menu-bar {
  padding: 20px 0;
  background: #fff;
}
.menu__item {
  font-family: "Open Sans Semibold";
  font-size: 20px;
  margin-left: 35px;
}
.menu__item:hover {
  text-shadow: 2px 2px 2px grey;
}

/* INTRO */
.intro {
  padding: 180px 0;
  text-align: center;
  color: #fff;
  background-image: url("../img/header/header.jpg");
  background-size: cover;
  background-position: center;
}
.intro__title {
  font-size: 60px;
  margin-bottom: 30px;
}
.intro__text {
  font-size: 22px;
  margin-bottom: 100px;
}

/* BUTTONS */
.button {
  padding: 10px 25px;
  margin: 0 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s ease;
}
.button--empty {
  background: transparent;
  border: 3px solid #fff;
}
.button--empty:hover {
  background: #00897b;
  border: 3px solid #00897b;
}
.button--black {
  color: #000;
}
.button--black:hover, .button--focused {
  background: #00897b;
  border: 3px solid #00897b;
  color: #fff;
}
.button--blog {
  margin-top: 120px;
}

/* SECTION */
section {
  padding: 120px 0;
}

.section__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.section__text {
  font-size: 15px;
  margin-bottom: 110px;
}

/* ABOUT */
.about__title {
  font-family: "Open Sans Semibold";
  margin: 30px 0 20px;
}

/* Services */
.services {
  padding: 165px 0 90px;
  background: #e4fdf9;
}
.services__item {
  padding: 50px;
  margin-bottom: 30px;
  background-color: #fff;
  transition: 0.5s ease;
}
.services__item:hover {
  background-color: #00897b;
  color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.services__item:hover .button--black {
  color: #fff;
  background: inherit;
  border-color: #fff;
}
.services__icon {
  font-size: 72px;
}
.services__title {
  margin: 40px 0 25px;
}
.services__text {
  margin-bottom: 40px;
}

/* PORTFOLIO */
.portfolio__list {
  padding: 110px 0;
}
.portfolio__item:hover .portfolio__img {
  filter: brightness(30%);
  transition: 0.3s;
}
.portfolio__item:hover .portfolio__text {
  display: block;
}
.portfolio__img {
  margin-bottom: 30px;
}
.portfolio__text {
  display: none;
}

/* PRICE */
.price {
  background: #f0f1f1;
}
.price__card {
  transition: 0.3s;
}
.price__card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.price__header {
  padding: 40px 0;
  background: #3949ab;
}
.price__title {
  font-size: 25px;
}
.price__amount {
  font-size: 50px;
  letter-spacing: 5px;
}
.price__amount sup {
  font-size: 25px;
}
.price__amount sub {
  font-size: 17px;
}
.price__content {
  font-size: 17px;
  color: #212121;
}
.price__advantage {
  border-bottom: 1px solid #bfbfbf;
  padding: 25px 0 10px;
  max-width: 175px;
}
.price__footer {
  padding: 60px 0;
}

/* TEAM */
.team__name {
  font-family: "Open Sans Semibold";
  font-size: 20px;
  margin-top: 30px;
}
.team__prof {
  font-size: 15px;
  margin-bottom: 30px;
}

/* SOCIAL */
.social__item {
  font-size: 25px;
  color: #00897b;
  background: #f0f1f1;
  padding: 15px;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}
.social__item i {
  transform: translate3d(-50%, -50%, 0);
}
.social__item:hover {
  background: #3949ab;
  color: #fff;
}

/* SLIDER */
.slider-dots {
  margin: 115px 0 0 !important;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.slider-dots button {
  background: #00897b;
  border-radius: 50%;
  border: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
.slider-dots li.slick-active button {
  background: #3949ab;
}

/* BLOG */
.blog {
  background: #e4fdf9;
}
.blog__title {
  font-family: "Open Sans Semibold";
  font-size: 25px;
  text-decoration: none;
  color: #000;
  margin-bottom: 30px;
}
.blog__title:hover {
  color: #00897b;
}
.blog__info {
  font-family: "Open Sans Semibold";
  font-size: 17px;
  margin-bottom: 30px;
}
.blog__text {
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */