@import 'fonts.css';

/* VARS */
$base-color: #00897b;
$base-blue: #3949ab;
$base-grey: #f0f1f1;

/* BASICS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

/* HEADER */

.menu {
    &-bar {
        padding: 20px 0;
        background: #fff;
    }

    &__item {
        font-family: 'Open Sans Semibold';

        font-size: 20px;
        margin-left: 35px;
    }

    &__item:hover {
        text-shadow: 2px 2px 2px grey;
    }
}

/* INTRO */
.intro {
    padding: 180px 0;
    text-align: center;
    color:#fff;

    background-image: url('../img/header/header.jpg');
    background-size: cover;
    background-position: center;

    &__title {
        font-size: 60px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 22px;
        margin-bottom: 100px;
    }
}

/* BUTTONS */
.button {
    padding: 10px 25px;
    margin: 0 10px;

    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s ease;

    &--empty {
        background: transparent;
        border: 3px solid #fff;
    }

    &--empty:hover {
        background: $base-color;
        border: 3px solid $base-color;
    }

    &--black {
        color: #000;
    }

    &--black:hover,
    &--focused {
        background: $base-color;
        border: 3px solid $base-color;
        color: #fff;
    }
}

/* SECTION */
.section {
    &__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 15px;
        margin-bottom: 110px;
    }
}

/* ABOUT */
.about {
    padding: 120px 0;

    &__title {
        font-family: 'Open Sans Semibold';
        margin: 30px 0 20px;
    }
}

/* Services */
.services {
    padding: 165px 0 90px;
    background: #e4fdf9;

    &__item {
        padding: 50px;
        margin-bottom: 30px;
        background-color: #fff;

        transition: .5s ease;
    }

    &__item:hover {
        background-color: $base-color;
        color: #fff;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3)
    }

    &__item:hover .button--black {
        color: #fff;
        background: inherit;
        border-color: #fff;
    }

    &__icon {
        font-size: 72px;
    }

    &__title {
        margin: 40px 0 25px;
    }

    &__text {
        margin-bottom: 40px;
    }
}

/* PORTFOLIO */
.portfolio {
    padding: 120px 0; 
    
    &__list {
        padding: 110px 0;
    }

    &__item:hover &__img{
        filter: brightness(30%);
        transition: .3s;
    }

    &__item:hover &__text {
        display: block;
    }

    &__img {
        margin-bottom: 30px;
    }

    &__text {
        display: none;
    }
}

/* PRICE */
.price {
    padding: 120px 0; 
    background: $base-grey;

    &__card {
        transition: .3s;
    }

    &__card:hover {
        box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3)
    }

    &__header {
        padding: 40px 0;
        background: $base-blue;
    }

    &__title {
        font-size: 25px; 
    }

    &__amount {
        font-size: 50px;
        letter-spacing: 5px;

        & sup {
            font-size: 25px;
        }

        & sub {
            font-size: 17px;
        }
    }

    &__content {
        font-size: 17px;
        color: #212121;
    }

    &__advantage {
        border-bottom: 1px solid #bfbfbf;
        padding: 25px 0 10px;
        max-width: 175px;
    }

    &__footer {
        padding: 60px 0;
    }
}

/* TEAM */
.team {
    padding: 120px 0;

    &__name {
        font-family: 'Open Sans Semibold';
        font-size: 20px;
        margin-top: 30px;
    }

    &__prof {
        font-size: 15px;
        margin-bottom: 30px;
    }
}

/* SOCIAL */
.social__item {
    font-size: 25px;
    color: $base-color;
    background: $base-grey;
    padding: 15px;
    width: 50px;
    height: 50px;
    transition: .3s;

    & i {
        transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
        background: $base-blue;
        color: #fff;
    }
}

/* SLIDER */
.slider-dots {
    margin: 115px  0 0 !important;
    display: flex;
    justify-content: center;
    list-style-type: none;

    & button {
        background: $base-color;
        border-radius: 50%;
        border: none;
        font-size: 0;
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }

    & li.slick-active button {
        background: $base-blue;
    }
}