@import 'fonts.css';

$base-color: #00897b;
$base-blue: #3949ab;
$base-grey: #f0f1f1;
$base-green: #e4fdf9;

$semibold : 'Open Sans Semibold';
$opensans: 'Open Sans';

/* BASICS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $opensans;
}

/* TO TOP BUTTON */
#toTop {
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    color: #000;
    background: #00897b;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}

/* HEADER */
.menu {
    &-bar {
        padding: 20px 0;
        background: #fff;
    }

    &__icon {
        display: none;
    }

    &__item {
        font-family: $semibold;
        cursor: pointer;

        font-size: 20px;
        margin-left: 35px;

        &:hover {
            text-shadow: 2px 2px 2px grey;
        }
    }
}

/* INTRO */
.intro {
    padding: 180px 0;
    text-align: center;
    color:#fff;

    background-image: url('../img/header/header.jpg');
    background-size: cover;
    background-position: center;

    &__title {
        font-size: 60px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 22px;
        margin-bottom: 100px;
    }
}

/* BUTTONS */
.button {
    padding: 10px 25px;
    margin: 0 10px;

    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s ease;

    &--empty {
        background: transparent;
        border: 3px solid #fff;

        &:hover {
            background: $base-color;
            border: 3px solid $base-color;
        }
    }

    &--black {
        color: #000;
    }

    &--black:hover,
    &--focused {
        background: $base-color;
        border: 3px solid $base-color;
        color: #fff;
    }

    &--blog {
        margin-top: 120px;
    }

    &--form {
        padding: 20px 80px;
    }
}

/* SECTION */
section {
    padding: 120px 0;
}

.section {
    &__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 15px;
        margin-bottom: 110px;
    }
}

/* ABOUT */
.about {
    &__title {
        font-family: $semibold;
        margin: 30px 0 20px;
    }
}

/* Services */
.services {
    padding: 165px 0 90px;
    background: $base-green;

    &__item {
        padding: 50px;
        margin-bottom: 30px;
        background-color: #fff;
        transition: .5s ease;

        &:hover {
            background-color: $base-color;
            color: #fff;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3)
        }

        &:hover .button--black {
            color: #fff;
            background: inherit;
            border-color: #fff;
        }
    }

    &__icon {
        font-size: 72px;
    }

    &__title {
        margin: 40px 0 25px;
    }

    &__text {
        margin-bottom: 40px;
    }
}

/* PORTFOLIO */
.portfolio {    
    &__list {
        padding: 110px 0;
    }

    &__item:hover &__img{
        filter: brightness(30%);
        transition: .3s;
    }

    &__item:hover &__text {
        display: block;
    }

    &__img {
        max-width: 100%;
        margin-bottom: 30px;
    }

    &__text {
        display: none;
    }
}

/* PRICE */
.price {
    background: $base-grey;

    &__card {
        transition: .3s;
        margin-bottom: 20px;

        &:hover {
            box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3)
        }
    }

    &__header {
        padding: 40px 0;
        background: $base-blue;
    }

    &__title {
        font-size: 25px; 
    }

    &__amount {
        font-size: 50px;
        letter-spacing: 5px;

        & sup {
            font-size: 25px;
        }

        & sub {
            font-size: 17px;
        }
    }

    &__content {
        font-size: 17px;
        color: #212121;
    }

    &__advantage {
        border-bottom: 1px solid #bfbfbf;
        padding: 25px 0 10px;
        max-width: 175px;
    }

    &__footer {
        padding: 60px 0;
    }
}

/* TEAM */
.team {
    &__name {
        font-family: $semibold;
        font-size: 20px;
        margin-top: 30px;
    }

    &__prof {
        font-size: 15px;
        margin-bottom: 30px;
    }
}

/* SOCIAL */
.social__item {
    font-size: 25px;
    color: $base-color;
    background: $base-grey;
    padding: 15px;
    width: 50px;
    height: 50px;
    transition: .3s;

    & i {
        transform: translate3d(-50%, -50%, 0);
    }

    &:hover {
        background: $base-blue;
        color: #fff;
    }
}

/* SLIDER */
.slider-dots {
    margin: 115px  0 0 !important;
    display: flex;
    justify-content: center;
    list-style-type: none;

    & button {
        background: $base-color;
        border-radius: 50%;
        border: none;
        font-size: 0;
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }

    & li.slick-active button {
        background: $base-blue;
    }
}

/* BLOG */
.blog {
    background: $base-green;

    &__title {
        font-family: $semibold;
        font-size: 25px; 
        text-decoration: none;
        color: #000;
        margin-bottom: 30px;
        
        &:hover {
            color: $base-color;
        }
    }

    &__info {
        font-family: $semibold;
        font-size: 17px;
        margin-bottom: 30px;
    }
}

/* FOOTER */
.footer {
    padding: 120px 0 110px;
    background-image: url('../img/footer.jpg');
    background-size: cover;
    background-position: center;

    &__icon {
        font-size: 50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: $base-blue;
    }

    &__desc {
        font-family: $semibold;
        font-size: 20px;
        margin: 30px 0 70px;
    }

    &__text {
        font-size: 20px;
        padding: 10px;
    }
}

/* FORM */
.form {
    &__name, &__email, &__msg {
        padding: 30px;
        width: 100%;
        border-radius: 10px;
        border: none;
        outline: none;
    }

    &__msg {
        margin: 30px 0 40px;
        resize: none;
    }
}

/* MEDIA */
@media screen and (max-width: 1200px) {
    .menu__icon {
        display: block;
        background: #00897b;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    nav {
        display: none;
    }

    .form input, .form textarea {
        margin: 10px 0;
    }
}

@media screen and (max-width: 480px) {
    .intro {
        padding: 20px 0;

        &__title {
            font-size: 45px;
        }

        &__text {
            margin-bottom: 20px;
        }
    }

    .button {
        margin-bottom: 10px;

        &--blog {
            margin-top: 20px;
        }
    }

    .about {
        padding: 20px 0;
    }

    .section__text {
        margin-bottom: 20px;
    }

    .services {
        padding: 20px 0;
    }

    .portfolio {
        padding: 20px 0;

        &__list {
            padding: 20px 0;
        }
    }

    .price {
        padding: 20px 0;
    }

    .team {
        padding: 20px 0;

        & img {
            max-width: 320px;
        }
    }

    .slider-dots {
        margin: 20px 0 !important;
    }

    .blog {
        padding: 20px 0;

        &__item {
            border: 2px solid $base-color;
            border-radius: 10px;
            padding: 10px 0 0;
            margin-bottom: 10px;
        }
    }

    .footer {
        padding: 20px 0;

        &__desc {
            margin: 10px 0 20px;
        }
    }
}
