@import 'fonts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Semibold';
}

/* HEADER */

.menu {
    &-bar {
        padding: 20px 0;
        background: #fff;
    }

    &__item {
        font-size: 20px;
        margin-left: 35px;
    }

    &:hover {
        text-shadow: 2px 2px 2px grey;
    }
}

/* INTRO */
.intro {
    padding: 180px 0;
    text-align: center;
    color:#fff;

    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;

    &__title {
        font-size: 60px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 22px;
        margin-bottom: 100px;
    }
}

.button {
    padding: 10px 25px;
    margin: 0 10px;

    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s ease;

    &--empty {
        background: transparent;
        border: 3px solid #fff;
    }

    &--empty:hover {
        border: 3px solid #00897b;
    }

    &--full {
        background: #00897b;
        border: 3px solid #00897b;
    }

    &--full:hover {
        border: 3px solid #fff;
    }
}